<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Pac_man/style.css' %}">
    <title>Pac man</title>
</head>
<body>
    <h1>Bienvenue sur Pac man</h1>
    <p>pac man en creation</p>
    <table>
        <tr class="ligne_0">
            <td class="column_0" data-ref="0-0"></td>
            <td class="column_1" data-ref="1-0"></td>
            <td class="column_2" data-ref="2-0"></td>
            <td class="column_3" data-ref="3-0"></td>
            <td class="column_4" data-ref="4-0"></td>
            <td class="column_5" data-ref="5-0"></td>
            <td class="column_6" data-ref="6-0"></td>
            <td class="column_7" data-ref="7-0"></td>
            <td class="column_8" data-ref="8-0"></td>
            <td class="column_9" data-ref="9-0"></td>
        </tr>
        <tr class="ligne_1">
            <td class="column_0" data-ref="0-1"></td>
            <td class="column_1" data-ref="1-1"></td>
            <td class="column_2" data-ref="2-1"></td>
            <td class="column_3" data-ref="3-1"></td>
            <td class="column_4" data-ref="4-1"></td>
            <td class="column_5" data-ref="5-1"></td>
            <td class="column_6" data-ref="6-1"></td>
            <td class="column_7" data-ref="7-1"></td>
            <td class="column_8" data-ref="8-1"></td>
            <td class="column_9" data-ref="9-1"></td>
            
        </tr>
        <tr class="ligne_2">
            <td class="column_0" data-ref="0-2"></td>
            <td class="column_1" data-ref="1-2"></td>
            <td class="column_2" data-ref="2-2"></td>
            <td class="column_3" data-ref="3-2"></td>
            <td class="column_4" data-ref="4-2"></td>
            <td class="column_5" data-ref="5-2"></td>
            <td class="column_6" data-ref="6-2"></td>
            <td class="column_7" data-ref="7-2"></td>
            <td class="column_8" data-ref="8-2"></td>
            <td class="column_9" data-ref="9-2"></td>
        </tr>
        <tr class="ligne_3">
            <td class="column_0" data-ref="0-3"></td>
            <td class="column_1" data-ref="1-3"></td>
            <td class="column_2" data-ref="2-3"></td>
            <td class="column_3" data-ref="3-3"></td>
            <td class="column_4" data-ref="4-3"></td>
            <td class="column_5" data-ref="5-3"></td>
            <td class="column_6" data-ref="6-3"></td>
            <td class="column_7" data-ref="7-3"></td>
            <td class="column_8" data-ref="8-3"></td>
            <td class="column_9" data-ref="9-3"></td>
        </tr>
        <tr class="ligne_4">
            <td class="column_0" data-ref="0-4"></td>
            <td class="column_1" data-ref="1-4"></td>
            <td class="column_2" data-ref="2-4"></td>
            <td class="column_3" data-ref="3-4"></td>
            <td class="column_4" data-ref="4-4"></td>
            <td class="column_5" data-ref="5-4"></td>
            <td class="column_6" data-ref="6-4"></td>
            <td class="column_7" data-ref="7-4"></td>
            <td class="column_8" data-ref="8-4"></td>
            <td class="column_9" data-ref="9-4"></td>
        </tr>

        <tr class="ligne_5">
            <td class="column_0" data-ref="0-5"></td>
            <td class="column_1" data-ref="1-5"></td>
            <td class="column_2" data-ref="2-5"></td>
            <td class="column_3" data-ref="3-5"></td>
            <td class="column_4" data-ref="4-5"></td>
            <td class="column_5" data-ref="5-5"></td>
            <td class="column_6" data-ref="6-5"></td>
            <td class="column_7" data-ref="7-5"></td>
            <td class="column_8" data-ref="8-5"></td>
            <td class="column_9" data-ref="9-5"></td>
        </tr>

        <tr class="ligne_6">
            <td class="column_0" data-ref="0-6"></td>
            <td class="column_1" data-ref="1-6"></td>
            <td class="column_2" data-ref="2-6"></td>
            <td class="column_3" data-ref="3-6"></td>
            <td class="column_4" data-ref="4-6"></td>
            <td class="column_5" data-ref="5-6"></td>
            <td class="column_6" data-ref="6-6"></td>
            <td class="column_7" data-ref="7-6"></td>
            <td class="column_8" data-ref="8-6"></td>
            <td class="column_9" data-ref="9-6"></td>
        </tr>

        <tr class="ligne_7">
            <td class="column_0" data-ref="0-7"></td>
            <td class="column_1" data-ref="1-7"></td>
            <td class="column_2" data-ref="2-7"></td>
            <td class="column_3" data-ref="3-7"></td>
            <td class="column_4" data-ref="4-7"></td>
            <td class="column_5" data-ref="5-7"></td>
            <td class="column_6" data-ref="6-7"></td>
            <td class="column_7" data-ref="7-7"></td>
            <td class="column_8" data-ref="8-7"></td>
            <td class="column_9" data-ref="9-7"></td>
        </tr>

        <tr class="ligne_8">
            <td class="column_0" data-ref="0-8"></td>
            <td class="column_1" data-ref="1-8"></td>
            <td class="column_2" data-ref="2-8"></td>
            <td class="column_3" data-ref="3-8"></td>
            <td class="column_4" data-ref="4-8"></td>
            <td class="column_5" data-ref="5-8"></td>
            <td class="column_6" data-ref="6-8"></td>
            <td class="column_7" data-ref="7-8"></td>
            <td class="column_8" data-ref="8-8"></td>
            <td class="column_9" data-ref="9-8"></td>
        </tr>

        <tr class="ligne_9">
            <td class="column_0" data-ref="0-9"></td>
            <td class="column_1" data-ref="1-9"></td>
            <td class="column_2" data-ref="2-9"></td>
            <td class="column_3" data-ref="3-9"></td>
            <td class="column_4" data-ref="4-9"></td>
            <td class="column_5" data-ref="5-9"></td>
            <td class="column_6" data-ref="6-9"></td>
            <td class="column_7" data-ref="7-9"></td>
            <td class="column_8" data-ref="8-9"></td>
            <td class="column_9" data-ref="9-9"></td>
        </tr>
    </table>
</body>
</html>



